.contenedor__secciones {
  width: 100%;
  display: flex;
  justify-content: center;
}

.size__container {
  width: calc(100% / 4);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 80%;
}

.mediana {
  width: 90%;
}

.grande {
  width: 100%;
}

.link__titulo {
  width: 100%;
  height: 100px;
  padding: 20px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link__imagen {
  width: calc(100% / 4);
  padding: 0 12px 12px 12px;
}

.imagen {
  width: 100%;
  transition: var(--transition);
  border-radius: 20px;
}
.imagen:hover {
  width: 95%;
  border: 5px solid rgb(3, 255, 37);
}

@media screen and (max-width: 1024px) {
  .size__container {
    width: calc(90%);
  }

  .link__imagen {
    width: calc(50% /2);
  }

  .link__titulo {
    padding: 12px;
  }
}

@media screen and (max-width: 1024px) {
 .size__container {
  flex-direction: column;  
  align-items: center;
  justify-content: center;
 }
 .link__imagen {
  width: 80%;
 }

 .link__titulo {
  padding: 42px;
 }

}
