.mySwiper {
  width: 80%;
}

.slide__imagen {
  width: 100%;
  border-radius: 12px;
}

@media screen and (max-width: 1024px) {
  .mySwiper {
    width: 90%;
  }

  .slide__imagen {
    border-radius: 0%;
  }
}
